<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.min.css" rel="stylesheet">
<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../css/ctms-index.css">
<link rel="stylesheet" href="../css/ctms-manage.css">
<title>群管理</title>
</head>
<body>
  <div class="ctms-menu"></div>
  <div class="cont">
    <div class="operation">
      <button data-method="offset" data-type="auto"  class="layui-btn layui-btn-warm addbtn"> 增加群 </button>
      <!-- 搜索 -->
      <!-- <div class="layui-input-inline search">
        <div class="layui-input-inline">
          <input type="text" class="layui-input" placeholder="输入名称搜索" id="demoReload">
        </div>
        <button class="layui-btn layui-btn-warm search-btn" data-type="reload"></button>
      </div> -->
    </div>
    <!-- 表格 -->
    <table id="mytable" lay-filter="mytable"></table>
  </div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js" data-main="../js/ctms-manage-group-en"></script>
<!-- 表格操作栏 -->
<script type="text/html" id="optbar">
  <span class="optlink" lay-event="edit">编辑</span>
  <span class="optlink" lay-event="del">删除</span>
</script>
<!-- 表格中的链接数据内容 -->
<script type="text/html" id="group_no">
  <a href="./manage-zu.html" data-id="{{d.group_no}}" class="optlink rowlink group_no">{{ d.group_no }}</a>
</script>
<!-- 弹窗内的表单 -->
<script type="text/html" class="insert">
  <form class="layui-form myform" action="" lay-filter="myform">
    <input type="hidden" name="id" class="layui-input"><!-- 增加id -->
    <div class="layui-form-item">
      <label class="layui-form-label">监听串口号:</label>
      <div class="layui-input-block">
        <select name="serial_port" lay-filter="serial">
          <option value="COM1">COM1</option>
          <option value="COM4">COM4</option>
          <option value="COM#">COM#</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">群号:</label>
      <div class="layui-input-block">
        <input type="text" name="group_no" lay-verify="required|number" autocomplete="off" class="layui-input" disabled>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">群名称:</label>
      <div class="layui-input-block"> 
        <input type="text" name="group_name" lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">群描述:</label>
      <div class="layui-input-block">
        <textarea name="group_des" lay-verify="required" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">安装位置:</label>
      <div class="layui-input-block">
        <input type="text" name="group_loca" lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <button class="layui-btn layui-btn-warm full" lay-submit lay-filter="*">确定</button>
  </form>
</script>
</body>
</html>