<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ctms-index.css">
<title>菜单</title>
</head>
<body>
  <div class="my-menu">
    <ul>
      <li><a href="./home.html"><i class="menu-icon"></i><span>首页</span></a></li>
      <li class="parent">
        <a><i class="menu-icon"></i><span>设备管理</span><i class="menu-pull">&gt;</i></a>
        <ul class="son">
          <li><a href="./manage-group.html"><span>群管理</span></a></li>
          <li><a href="./manage-zu.html"><span>组管理</span></a></li>
          <li><a href="./manage-point.html"><span>监测点管理</span></a></li>
        </ul>
      </li>
      <li><a href="./serialport.html"><i class="menu-icon"></i><span>串口设置</span></a></li>
      <li><a href="./statistical.html"><i class="menu-icon"></i><span>统计</span></a></li>
      <li><a href="./alarmrecored.html"><i class="menu-icon"></i><span>报警记录</span></a></li>
      <li><a href="./alarmoutput.html"><i class="menu-icon"></i><span>报警输出</span></a></li>
    </ul>
  </div>
  <div class="cont"></div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/ctms-index.js"></script>
</body>
</html>