<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.min.css" rel="stylesheet">
<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../css/ctms-index.css">
<link rel="stylesheet" href="../css/ctms-stat.css">
<title>统计</title>
</head>
<body>
  <div class="ctms-menu"></div>
  <div class="cont">
    <div class="cont-header">
      <a data-page="voltagepage" class="statelink active">电池电压曲线</a>
      <a data-page="temperaturepage" class="statelink">温度曲线</a>
    </div>
    <!-- 电池电压 -->
    <div class="page" id="voltagepage">
      <div class="tool">
        <form action="" class="layui-form myform" action="" lay-filter="myform">
          <div class="layui-form-item">
            <label class="layui-form-label">群</label>
            <div class="layui-input-inline myselect">
              <select name="group_no" lay-filter="serial">
                  <option value="0">无</option>
                  <option value="1">群号1</option>
                  <option value="2">群号2</option>
                  <option value="3">群号3</option>
                </select>
            </div>
            <label class="layui-form-label">组</label>
            <div class="layui-input-inline myselect">
              <select name="term_no" lay-filter="serial">
                  <option value="0">无</option>
                  <option value="1">组号1</option>
                  <option value="2">组号2</option>
                  <option value="3">组号3</option>
                </select>
            </div>
            <label class="layui-form-label">选取时间范围</label>
            <div class="layui-input-inline choosetime">
              <input type="text" name="start" value="1529549086149">
              <input type="text" name="end" value="1529549128430">
              <!-- <input type="text" class="layui-input choosetime" id="chooseTime" placeholder="请选取时间范围" autocomplete="off"> -->
            </div>
            <button class="layui-btn layui-btn-warm" lay-submit lay-filter="*">立即查询</button>
          </div>
        </form>
      </div>
      <div class="charts">
        <h1 class="tit">当前电压</h1>
        <div class="echart" id="voltage"></div>
      </div>
      <div class="charts">
        <h1 class="tit">所有监控点电压</h1>
        <div class="echart" id="allvoltage"></div>
      </div>
    </div>
    <!-- 温度 -->
    <div class="page" id="temperaturepage">
      <div class="tool">
        <form action="" class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">群</label>
            <div class="layui-input-inline myselect">
              <select name="gnum" lay-filter="serial">
                  <option value="">无</option>
                  <option value="0">群号1</option>
                  <option value="1">群号2</option>
                  <option value="2">群号3</option>
                </select>
            </div>
            <label class="layui-form-label">组</label>
            <div class="layui-input-inline myselect">
              <select name="znum" lay-filter="serial">
                  <option value="">无</option>
                  <option value="0">组号1</option>
                  <option value="1">组号2</option>
                  <option value="2">组号3</option>
                </select>
            </div>
            <label class="layui-form-label">选取时间范围</label>
            <div class="layui-input-inline choosetime">
              <input type="text" class="layui-input choosetime" id="chooseTime" placeholder="请选取时间范围" autocomplete="off">
            </div>
            <button class="layui-btn layui-btn-warm">立即查询</button>
          </div>
        </form>
      </div>
      <div class="charts">
        <h1 class="tit">当前温度</h1>
        <div class="echart" id="temperatur"></div>
      </div>
      <div class="charts">
        <h1 class="tit">所有监控点温度</h1>
        <div class="echart" id="alltemperatur"></div>
      </div>
    </div>
  </div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js" data-main="../js/ctms-statistical-en"></script>
</body>
</html>