<html> <head><meta charset="UTF-8">
  <style>
  table{ border-collapse: collapse;font-family: 'microsoft yahei';border-spacing: 0;font-size: 12px;}
  table thead tr {background-color: #ea5504; color: #fff;}
  caption,.cap{height: 40px;line-height: 40px;font-size: 16px;background-color: red;}
  table td, table th{padding: 0 15px;font-size: 12px;text-align: center;height: 40px;line-height: 40px;border: 1px solid #000;}
  table td {text-align: left;}
  </style>
  </head> <body>
  
      <table class="layui-table mytable">
        <caption class="cap">我的标题</caption>
        <thead>
          <tr>
            <th>昵称</th>
            <th>加入时间</th>
            <th>签名</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
          </tr>
          <tr>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
          </tr>
        </tbody>
      </table>
    
  </body> </html>